@import '../colors.module.scss';


.loginContainer{
    @media only screen and (min-width: 450px) {
        display:flex;
        justify-content: center;
        width: 100%;

        .loginContain{
            width: 450px;
        }
    }
}

.login {

    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
    height: 100vh;

    .linkForgot{
        display: flex;
        justify-content: flex-end;
        margin-bottom: 1rem;
    }

    div h4 {
        color: $primary-color;
    }

    div p {
        color: $input-text-color;
    }

    div button {
        background-color: $primary-color;
        border: none;
    }

    div button:hover {
        background-color: $bg-color;
        border: 1px solid $primary-color;
        color: $primary-color;
    }

    .formStyle {
        width: 100%;
        padding: 0 10%;
    }

    .dontHaveAccount{
        margin-top: 1.5rem;
        color: $ternary-text-color !important;
        text-align: center;
    }

    .dontHaveAccount a{
    color: $primary-color !important;
    }

    .wrapper{
        position: relative;

        .iconUser{
            position: absolute;
            top:30%;
            left:20px;
        }

        input{
            padding-left: 50px;
        }

        input:focus{
            box-shadow: 0 0 0 0.25rem $primary-color;
            padding-left: 50px;
            border: none;
        }
    }
}