$primary-color: #EFC81A;
$secondary-color: #F5F5F5;
$bg-color: #ffffff;


// Text Color
$primary-text-color: #18172B;
$secondary-text-color: #666666;
$ternary-text-color: #999999;
$input-text-color: #C4C4C4;